.marduk-form {
  --form-gap: var(--marduk-spacing-6);
  --form-padding: var(--marduk-spacing-6);

  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
  padding: var(--form-padding);
  width: 100%;
}
